
# Practice Lab M03 (Version 2)
## Data Acquisition and Data Source

This task on data acquisition and data source is mainly to focus on how to properly acquire and read the data with differnt formats.

To do:

*   Read the given data for required format; 
*   Using Numpy and Pandas to do the ETL for the data.

**Task 1.1** We first read the given data source. However, it is not in a standard readable format. The parquet file is in columnar storage format for efficient storage purpose (very common in cloud service scenario). Our goal in this task is to read this parquet file.

**Background:**
Parquet is an open source file format available to any project in the Hadoop ecosystem. Apache Parquet is designed for efficient as well as performant flat columnar storage format of data compared to row based files like CSV or TSV files. -- [check link](https://databricks.com/glossary/what-is-parquet)

**Hint:**

There are many ways to read the parquet file:


1.   Using pyarrow engine to read   
        ```
        ***pyarrow.parquet.ParquetFile(filename)***
        ```
2.   Directly read parquet with pandas  
        ```
       ***pandas.read_parquet(filename, engine='pyarrow')***
        ```

In [ ]:
# read the parquet file by using pyarrow 
import pyarrow.parquet as pq
#parquet_file = pq.ParquetFile('data/player.parquet')

In [ ]:
# print the parquet file schema to check the columns and its datatype
#parquet_file.schema

In [ ]:
# print the metadata for the parquet file
#parquet_file.metadata

In [ ]:
# convert the parquet file into table format and print it in dataframe type
table = parquet_file.read()
df = table.to_pandas()

In [ ]:
#print the table into dictionary format. comment the %%capture to see the print output
%%capture
dic = table.to_pydict()

In [ ]:
# Directly read the parquet file by uing pandas
import pandas as pd
df_ = pd.read_parquet('data/player.parquet', engine='pyarrow')
df_.head(5)

**Task 1.2** After having the dataframe for the given data, let's first focus on the dictionary format -- which is the common used format while for semi-structure data in frontend development. **A record in dictionary  (one row in csv format) is now partitioned on column level**. 
We will try to format the dictionary by only selecting the **records (rows)** with Height(CM) > 165 and Height(CM) < 175  and then store it as a json file.

**Background:** 

Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and does not allow duplicates. -- [check link](https://www.w3schools.com/python/python_dictionaries.asp)


**Hint:**

```
for key, val in d.items():
    if filter_string not in key:
        continue
    do something

```

or 
```
filtered_dict = {k:v for (k,v) in d.items() if filter_string in k}
```

In [ ]:
# Let's first print out all the keys and the length of the values in the given data dictionary

In [ ]:
# let's print the keys and also the unique value from the values in in each (k,v) pair in the given data dictionary
# unique value of the array could be calculated via numpy.unique(array,return_counts = False)

In [ ]:
# Let's then print both keys and the length of the unique value from the values in each (k,v) pair in the given data dictionary
# for example, in the key value pair {fruit: ['apple','pear','banana']}, the length of the unique value is 3
# unique value of the array could be calculated via numpy.unique(array,return_counts = False)

In [ ]:
# Now let's filter the dictionary, by doing it, you need to first create a null dictionary 
# and then write the filtered key value pair in the null dictionary
# The code is given as below

newDict = dict()
for k,v in dic.items():
   # Check if value meets the condition on particular key
    if k == 'Height(CM)':
        flt = filter(lambda height: height < 175 and height >165, np.array(v).astype(int))
        new_v = list(flt)
        newDict[k] = new_v
    else:
        newDict[k] = v

In [ ]:
# let's double check the results
for k, v in newDict.items():
  print(k, np.unique(v,return_counts=False))

**Question here for 1.2** Have we finished the task 1.2? if yes, why? if no, why?

In [ ]:
# Now let's redo the filtering on the dictionary, by doing it, you need to first create a null dictionary 
# and then write the filtered key value pair in the null dictionary
# Please write code as below again:

newDict = dict()
index_col = [i for i in range(len(dic['Height(CM)'])) if (dic['Height(CM)'][i] > 160) and (dic['Height(CM)'][i] <175)]
for k,v in dic.items():   
    newDict[k] = list(np.array(v)[index_col])

In [ ]:
#let's check the length of the values again, do we see the difference?
for k, v in newDict.items():
  print(k, len(v))

In [ ]:
# let's store the filtered result into json,
# the numpy to json encoder is provided
import json
def np_encoder(object):
    if isinstance(object, np.generic):
        return object.item()

In [ ]:
#let's read it via pandas to check
df_json = pd.read_json('data/player.json')
df_json

**Task 1.3** After reading the data and also filter the dictionary, we finally have our json file and store it in our repo. However, if we need to regularly perform the similarly tasks for acquire the datasource, a parser is required. 
Could you write a parser function to contain the above parquet reading and dictionary filtering functionalities?

**Background:** 

Python parser is mainly used for converting data in the required format, this conversion process is known as parsing. As in many different applications data obtained can have different data formats and these formats might not be suitable to the particular application and here comes the use of parser that means parsing is necessary for such situations. Therefore, parsing is generally defined as the conversion of data with one format to some other format is known as parsing -- [check link](https://www.educba.com/python-parser/)

**Hint:**

```
def parser(datasource_path,dataoutput_path,filter_key, min, max):
    parquet_file = pq.ParquetFile(datasource_path)
    ...
```

In [ ]:
#Code for the parser

In [ ]:
# test the parser with condition on min=160, max=175 for age. Name the new json file as 'newplayer.json'

**Task 1.4** Now we have the parser and also have the json file, then next step for us is doing the ETL by using popular SQL. 
SQL is a domain-specific language used in programming and designed for managing data held in a relational database management system, or for stream processing in a relational data stream management system.
In this task,
we will review some simple sql query by using pandas dataframe.

In [ ]:
# firstly, let's read the newplayer.json into dataframe by using pandas
import pandas as pd
df_newplayer = pd.read_json('data/newplayer.json')
df_newplayer.columns = ['ID','Height', 'Weight', 
                      'Crossing', 'Finishing', 'HeadingAccuracy', 
                      'ShortPassing', 'Volleys', 'Dribbling', 'Curve',
                      'FKAccuracy', 'LongPassing', 'BallControl', 
                      'Acceleration', 'SprintSpeed', 'Agility', 
                      'Reactions', 'Balance', 'ShotPower', 'Jumping', 
                      'Stamina', 'Strength', 'LongShots', 'Aggression', 
                      'Interceptions', 'Positioning', 'Vision', 'Penalties', 
                      'Composure', 'Marking', 'StandingTackle', 'SlidingTackle','__index_level_0__']
df_newplayer

In [ ]:
# install pandasql
!pip install -U pandasql

In [ ]:
# let's first run a select query for the dataframe
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

query1 = pysqldf("SELECT * FROM df_newplayer LIMIT 10;")
query1

In [ ]:
# let's do some transformation on the column 'Dribbling' with conditions for df_newplayer
# if 0<dribbling<=27 then 'low'; 27<dribbling<=61 then 'medium'; 61<dribbling<=73 then 'good'; 73<dribbling<=100 then 'excellent';
query2 = pysqldf("""


""")
query2.head(5)

In [ ]:
# let's calculate the average value of 'Crossing', 'Finishing', 'HeadingAccuracy', 
# 'ShortPassing','Dribbling', 'Curve',
# 'FKAccuracy', 'LongPassing', 'BallControl'
#  by grouping the height and weight

query3 = pysqldf("""

""")
query3.head(5)

**Task 1.5** Could we do the similar ETL as task 1.3 in pandas?
Such as group by the height and weight by having the average value of 'Crossing', 'Finishing', 'HeadingAccuracy', 
'ShortPassing','Dribbling', 'Curve',
'FKAccuracy', 'LongPassing', 'BallControl'.

**Hint:**

using groupby() from pandas

In [ ]:
# firstly, let's select the columns from df_newplayer
df_sel = df_newplayer[['Height','Weight','Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing','Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl']]

In [ ]:
# then let's create the aggregation by using pandas

In [ ]:
# let's reset the index to format the aggregated dataframe

In [ ]:
# then let's convert BallControl and Dribbling to categorical data type
# the conditions for dribbing are if 0<dribbling<=27 then 'low'; 27<dribbling<=61 then 'medium'; 61<dribbling<=73 then 'good'; 73<dribbling<=100 then 'excellent';
# the conditions for ballcontrol are if 0<dribbling<=50 then 'low'; 50<dribbling<=65 then 'medium'; 65<dribbling<=75 then 'good'; 75<dribbling<=100 then 'excellent';

conditions1 = [
    (df_sel['BallControl']>0) & (df_sel['BallControl']<=50),
    (df_sel['BallControl']>50) & (df_sel['BallControl']<=65),
    (df_sel['BallControl']>65) & (df_sel['BallControl']<=75),
    (df_sel['BallControl']>75) & (df_sel['BallControl']<=100)
]

conditions2 = [
    (df_sel['Dribbling']>0) & (df_sel['Dribbling']<=27),
    (df_sel['Dribbling']>27) & (df_sel['Dribbling']<=61),
    (df_sel['Dribbling']>61) & (df_sel['Dribbling']<=73),
    (df_sel['Dribbling']>73) & (df_sel['Dribbling']<=100)
]

choices = ['low','medium','good','excellent']

**Task 1.6 (Advanced)** Now we have the dataframe on both numerical and categorical datatype. For many big analysis, category datatype is not the best format to start with. The common way to deal category datatype is to transform it to one hot encode format (only with 1 and 0). Could you finish the one hot encode transforming for categorical column by using the provided code in hint?

**Background:**

One-hot Encoding is a type of vector representation in which all of the elements in a vector are 0, except for one, which has 1 as its value, where 1 represents a boolean specifying a category of the element. -- [check link](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)

**Hint:**

```
df_onehot = pd.get_dummies(s)
```

In [ ]:
# then let's find and remove the numerical columns from all columns

In [ ]:
# let's use the code in hint to do the one hot encode and print the dataframe

In [ ]:
# let's combine the new onehot encode dataframe with numerical dataframe to obtain the full dataframe df_all

##**Tasks 2 Advanced Data Acquisition **

This task on Advanced data acquisition is to use numpy and pandas to perform more advanced Code-based ETL.

To do:

*   Create a function to calculate the euclidean distance between recoard; 
*   Find the most similar record for each one in the bank data.

**Task 2.1** In numpy, the euclidean distance could be calculated via 
```
np.sqrt(np.sum(np.square(point1 - point2)))
```
point1 and point2 is the 1D array, please folllow the above calculation and build a function to calculate the euclidean distance for any two arrays from a given dataframe.

In [ ]:
# define the funtion as below with name "dist_func"

In [ ]:
# what about if point2 is a 2d array? how to calculate the distance from point1 to each dimension of point2?

**Task 2.2** Now, we will need to calculate the euclidean distance between each row and all the rows (let's include the current row at here), also we would like to save the distances into array for each row. To the end, you will have a distance matrix with shape of (n,n) where n is the total rows.
We will use *df_all* as the input.

**Hint:**

Use the for loop on each row could be a good start

In [ ]:
# let's write the code here:

In [ ]:
# let's print the distance matrix

In [ ]:
# let's find the index of the smallest distance for each row in the distance

In [ ]:
#let's put the results into pandas dataframe