# SIT742: Modern Data Science 
**(Week 01: Programming Python)**

---
- Materials in this module include resources collected from various open-source online repositories.
- You are free to use, change and distribute this package.
- If you found any issue/bug for this document, please submit an issue at [tulip-lab/sit742](https://github.com/tulip-lab/sit742/issues)



Prepared by **SIT742 Teaching Team**

---


# Session 1A - Jupyter notebook and basic data types


In this session, 
you will learn how to run *Python* code under  **Jupyter notebook** (aka IPython notebook). You have two options for the environment:

1. Install the [Anaconda](https://www.anaconda.com/distribution/), and run it locally; **OR**
1. Use one cloud data science platform such as:
    - [Google Colab](https://colab.research.google.com): SIT742 lab session will use Google Colab. 
    - [IBM Cloud](https://www.ibm.com/cloud)
    - [DataBricks](https://community.cloud.databricks.com)



In Jupyter notebook, you will be able to execute and modify your *Python* code more efficiently. 

- **If you are using Google Colab for SIT742 lab session practicals, you can skip this Part 1 of this Session 1A, and start with Part 2 directly.**



In addition, you will be given an introduction on *Python*'s basic data types, 
getting familiar with **string**, **number**, data conversion, data comparison and 
data input/output. 

Hopefully, by using **Python** and the powerful **IPython Notebook** environment, 
you will find writing programs both fun and easy.

## Content

### Part 1 Create your own Jupyter notebook

1.1 [Start a notebook server](#cell_start)

1.2 [A tour of Jupyter notebook](#cell_tour)

1.3 [IPython notebook interface](#cell_interface)

1.4 [Open and close notebooks](#cell_close)

### Part 2 Basic data types

2.1 [String](#cell_string)

2.2 [Number](#cell_number)

2.3 [Data conversion and comparison](#cell_conversion)

2.4 [Input and output](#cell_input)

# Part 1. Create your own Jupyter notebook

- **If you are using Google Colab for SIT742 lab session practicals, you can ignore this Part 1, and start with Part 2.**


This notebook will show you how to start an IPython notebook session. It guides you through the process of creating your own notebook. It provides you details on the notebook interface and show you how to navigate with a notebook and manipulate its components.

<a id = "cell_start"></a>

     
## 1. 1 Start a notebook server

As described in Part 1, you start the IPython notebook server by keying in the command in a terminal window/command line window.

However,  before you do this, make sure you have created a folder **p01** under **H:/sit742**, download the file **SIT742P01A-Python.ipynb** notebook, and saved it under **H:/sit742/p01**.

If you are using [Google Colab](https://colab.research.google.com), you can upload this notebook to Google Colab and run it from there. If any difficulty, please ask your tutor, or check the CloudDeakin discussions.


After you complete this, you can now  switch  working directory to **H:/sit742**, and start the IPython notebook server by the following commands:

IPython notebook %don't run this in notebook, run it on command line to activate the server

You can see the message in the terminal windows as follows:


<img src="https://raw.githubusercontent.com/tuliplab/mds/master/Jupyter/image/start-workspace.jpg">

This will open a new browser window(or a new tab in your browser window). In the browser, there is an **dashboard**  page which shows you all the folders and files under **sit742** folder


<img src="https://raw.githubusercontent.com/tuliplab/mds/master/Jupyter/image/start-index.jpg">

<a id = "cell_tour"></a>

 
 ## 1.2  A tour of Jupyter notebook 
 
 ###  Create a new Jupyter notebook
 
 
 To create a new notebook, go to the menu bar and select **File -> New Notebook -> Python 3**

By default, the new notebook is named **Untitled**. To give your notebook a meaningful name, click on the notebook name and rename it. We would like to call our new notebook **hello.ipynb**. Therefore, key in the name **hello**. 

<img src="https://raw.githubusercontent.com/tuliplab/mds/master/Jupyter/image/emptyNotebook.jpg">



###  Run script in code cells

After a new notebook is created, there is an empty box in the notebook, called a **cell**. If you double click on the cell, you enter the **edit** mode of the notebook. Now we can  enter the following code in the cell

text = "Hello World"
print(text)

After this,  press **CTRL + ENTER**, and execute the cell. The result will be shown after the cell. 



<img src="https://raw.githubusercontent.com/tuliplab/mds/master/Jupyter/image/hello-world.jpg">




After a cell is executed, the notebook is switched to the **Command** mode. In this mode, you can manipulate the notebook and its component. Alternatively, you can  use **ESC** key to switch from **Edit** mode to **Command** mode without executing code. 

To modify the code you entered in the cell, **double click** the cell again and modify its content. For example, try to change the first line of previous cell into the following code:

text = "Good morning World!"

Afterwards,  press **CTRL + ENTER**, and the new output is displayed. 

As you can see, you are switching between two modes, **Command** and **Edit**, when editing a notebook. We will in later section look into these two operation modes of closely. Now practice  switching between the two modes until you are comfortable with them.

###  Add  new  cells

To add a new cell to a notebook, you have to ensure the notebook is in **Command** mode. If not, refer to previous section to switch to **Command** mode. 


To add cell below the current cell, go to menu bar and click **Insert-> Insert Cell Below**. Alternatively, you can use shortcut i.e. pressing **b** (or **a** to create a cell above).


<img src="https://raw.githubusercontent.com/tuliplab/mds/master/Jupyter/image/new-cell.jpg">

###  Add markdown cells

By default, a code cell is created when adding a new cell. However, IPython notebook also use a **Markdown** cell for enter normal text. We use markdown cell to display the text in specific format and to provide structure for a notebook.  

Try to copy the text in the cell below and paste it into your new notebook. Then from toolbar(**Cell->Cell Type**), change cell type from **Code** to **Markdown**. 

Please note in the following cell, there is a space between the leading **-, #, 0** and the text that follows.

## Heading 2
Normal text here!

### Heading 3
ordered list here

0. Fruits
  0. Banana
  0. Grapes
0. Veggies
  0. Tomato
  0. Broccoli
 
Unordered list here
- Fruits
     - Banana
     - Grapes
- Veggies
     - Tomato
     - Broccoli

Now execute the cell by press **CTRL+ ENTER**. You notebook should look like this:
    
<img src="https://raw.githubusercontent.com/tuliplab/mds/master/Jupyter/image/new-markdown.jpg">

Here is what the formatted Markdown cell looks like:

### Exercise:
Click this cell, and practice writing markdown language here...

<a id = "cell_interface"></a>

 
### 1.3 Jupyter notebook interface

Now you have created your first notebook, let us have a close look at the user interface of IPython notebook.



### Notebook component
When you create a new notebook document, you will be presented with the notebook name, a menu bar, a toolbar and an empty code cell.

We can see the following components in a notebook:

- **Title bar** is at the top of the page and  contains the name of the notebook. Clicking on the notebook name brings up a dialog which allows you to rename it.  Please renaming your notebook name from “Untitled0” to “hello”. This change the file name from **Untitled0.ipynb**  to  **hello.ipynb**.

- **Menu bar** presents different options that can be used to manipulate the way the notebook functions.

- **Toolbar** gives a quick way of performing the most-used operations within the notebook.

- An empty computational cell is show in a new notebook where you can key in your code.

The notebook has two modes of operation:

- **Edit**: In this mode, a single cell comes into focus and you can enter text or execute code. You activate the **Edit mode** by **clicking on a cell** or **selecting a cell and then pressing Enter key**.

- **Command**: In this mode, you can perform tasks that is related to the whole notebook structure. For example, you can move, copy, cut and paste cells. A series of keyboard shortcuts are also available to enable you to perform these tasks more efficient. One easiest way of activating the command mode by pressing the **Esc** key to exit editing mode. 





### Get help and interrupting


To get help on the use of different commands, shortcuts, you can go to the **Help** menu, which provides links to relevant documentation.

It is also easy to get help on any objects(including functions and methods). For example, to access help on the sum() function, enter the following line in a cell:

sum?

The other important thing to know is how to interrupt a computation. This can be done through the menu **Kernel->Interrupt** or **Kernel->Restart**, depending on what works on the situation. We will have chance to try this in later session.


### Notebook cell types


There are basically three types of cells in a IPython notebook: Code Cells, Markdown Cells, Raw Cells.


**Code cells** : Code cell can be used to enter code and will be executed by Python interpreter. Although we will not use other language in this unit, it is good to know that Jupyter Notebooks  also support JavaScript,  HTML, and Bash commands.

*** Markdown cells***: You have created markdown cell in the previous section. Markdown Cells are the easiest way to write and format text. It is also give structure to the notebook. Markdown language is used in this type of cell. Follow this link https://daringfireball.net/projects/markdown/basics  for the basics of the syntax.  

This is a  Markdown Cells example notebook sourced from : https://ipython.org/ipython-doc/3/notebook/notebook.html
This markdown cheat sheet can also be good reference to the main markdowns you might need to use in our pracs http://nestacms.com/docs/creating-content/markdown-cheat-sheet


**Raw cells** : Raw cells, unlike all other Jupyter Notebook cells, have no input-output distinction. This means that raw Cells cannot be rendered into anything other than what they already are. They are mainly used to create examples.


As you have seen, you can use the toolbar to choose between different cell types. In addition, shortcut **M** and **Y** can be used to quickly change a cell to Code cell or Markdown cell under Command mode. 


### Operation modes of Jupyter notebook

**Edit mode**



The Edit mode is used to enter text in cells and to execute code. As you have seen, after typing some code in the notebook and pressing **CTRL+Enter**, the notebook executes the cell and diplays output. The other two shortcuts used to run code in a cell are **Shift +Enter** and **Alt + Enter**. 

These three ways to run the the code in a cells are summarized as follows:


- Pressing Shift + Enter: This runs the cell and select the next cell(A new cell is created if at the end of the notebook). This is the most usual way to execute a cell.

- Pressing Ctrl + Enter: This runs the cell and keep the same cell selected. 

- Pressing Alt + Enter: This runs the cell and insert a new cell below it. 


**Command mode**

In Command mode, you can edit the notebook as a whole, but not type into individual cells.

You can use keyboard shortcut in this mode to perform the notebook and cell actions efficiently. For example, if you are in command mode and press **c**, you will copy the current cell. 



 There are a large amount of shortcuts available in the command mode. However, you do not have to remember all of them, since most actions in the command mode are available in the menu. 
 
 Here is a list of the most useful shortcuts. They are arranged by the 
 order we recommend you learn so that you can edit the cells efficiently.


1. Basic navigation: 

   - Enter: switch to Edit mode
   
   - Esc: switch to Command mode
   
   - Shift+Enter: Execute a cell
   
   - Up, down: Move to the cell above or below

2. Cell types: 
  - y: switch to code cell)
  - m: switch to markdown cell) 

3. Cell creation: 
    - a: insert new sell above
    - b: insert new cell  below

4. Cell deleting:
    - press D twice.

Note that one of the most common (and frustrating) mistakes when using the
notebook is to type something in the wrong mode. Remember to use **Esc**
to switch to the Command mode and **Enter** to switch to the Edit mode.
Also, remember that **clicking** on a cell automatically places it in the Edit
mode, so it will be necessary to press **Esc** to go to the Command mode.

### Exercise
Please go ahead and try these shortcuts. For example, try to insert new cell, modify and delete an existing cell. You can also switch cells between code type and markdown type, and practice different kinds of formatting in a markdown cell.
 
For a complete list of shortcut in **Command** mode, go to menu bar **Help->Keyboard Shortcuts**. Feel free to explore the other shortcuts.

<a id = "cell_close"></a>

 
 ## 1.4 open and close notebooks
 
 You can open multiple notebooks in a browser windows. Simply go to menu bar and choose **File->open...**, and select one **.ipynb** file. The second notebook will be opened in a seperated tab. 
 
Now make sure you still have your **hello.ipynb** open. Also please  download **ControlAdvData.ipynb** from cloudDeakin, and save under **H:/sit742/prac01**. Now go to the manu bar, click on **File->open ...**, locate the file **ControlAdvData.ipynb**, and open this file.
 
 When you finish your work, you will need to close your notebooks and shutdown the IPython notebook server. Instead of simply close all the tabs in the browser, you need to shutdown each notebook first. To do this, switch to the **Home** tab(**Dashboard page**) and **Running** section(see below). Click on **Shutdown** button to close each notebook. In case  **Dashboard** page is not open,  click on the **Jupyter** icon to reopen it. 
 

 <img src="https://raw.githubusercontent.com/tuliplab/mds/master/Jupyter/image/close-index.jpg">
 
 After each notebook is shutdown, it is time to showdown the IPython notebook server. To do this, go to the terminal window and press **CTRL + C**, and then enter **Y**. After the notebook server is shut down, the terminal window is ready for you to enter any new command.
 

 <img src="https://raw.githubusercontent.com/tuliplab/mds/master/Jupyter/image/close-terminal.jpg">


# Part 2  Basic Data Types



In this part,  you will get better understanding with Python's basic data type. We will 
look at **string** and **number** data type in this section. Also covered are:

- Data conversion
- Data  comparison
- Receive  input from users and display results effectively 

You will be guided through  completing a simple program which receives input from a user,
 process the information, and display results with specific format.

## 2.1 String

A string is a *sequence of characters*. We are using strings in almost every Python
programs. As we can seen in the **”Hello, World!”** example, strings can be specified
using single quotes **'**. The **print()** function can be used to display a string.

In [ ]:
print('Hello, World!')

We can also use a variable to store the string value, and use the variable in the
**print()** function.

In [ ]:
# Assign a string to a variable 
text = 'Hello, World!'
print(text)

A *variable* is basically a name that represents (or refers to) some value. We use **=**
to assign a value to a variable before we use it. Variable names are given by a programmer
in a way that the program is easy to understanding. Variable names are *case sensitive*.
It can consist of letters, digits and underscores. However, it can not begin with a digit.
For example, **plan9** and **plan_9** are valid names, where **9plan** is not.

In [ ]:
text = 'Hello, World!'

In [ ]:
# with print() function, content is displayed without quotation mark
print(text)

With variables, we can also display its value without **print()** function. Note that
you can not display a variable without **print()** function in Python script(i.e. in a **.py** file). This method only works under interactive mode (i.e. in the notebook).

In [ ]:
# without print() function, quotation mark is displayed together with content
text

Back to representation of string, there will be issues if you need to include a quotation
mark in the text.
We provide a example use a apostrophe mark(’) similar with single quotation mark(').
You will find that it will show "SyntaxError: invalid character in identifier". Just try to change the apostrophe mark with single quotation mark and run it again.

In [ ]:
text = ’What’ s your name ’

<details><summary><u><b><font color="Blue">Click here for solution</u></b></summary>
```python
    text = ' What\'s your name?'
    print(text)
```

Since strings in double quotes **"** work exactly the same way as string in single quotes.
By mixing the two types, it is easy to include quotation mark itself in the text.

In [ ]:
text = "What' s your name?"
print(text)

Alternatively, you can use:

In [ ]:
text = '"What is the problem?", he asked.'
print(text)

You can specify multi-line strings using triple quotes  (**"""** or **'''**). In this way, single
quotes and double quotes can be used freely in the text.
Here is one example:

In [ ]:
multiline = '''This is a test for multiline. This is the first line. 
This is the second line. 
I asked, "What's your name?"'''
print(multiline)

Notice the difference when the variable is displayed without **print()** function in this case.

In [ ]:
multiline = '''This is a test for multiline. This is the first line. 
This is the second line. 
I asked, "What's your name?"'''
multiline

Another way of include the special characters, such as single quotes is with help of
escape sequences **\\**. For example, you can specify the single quote using **\\' ** as follows.

In [ ]:
string = 'What\'s your name?'
print(string)

There are many more other escape sequences (See Section 2.4.1 in [Python3.0 official document](https://docs.python.org/3.1/reference/lexical_analysis.html)). But I am going to mention the most useful two examples here. 

First, use escape sequences to indicate the backslash itself e.g. **\\\\**

In [ ]:
path = 'c:\\windows\\temp'
print(path)

Second,  used escape sequences to specify a two-line string. Apart from using a triple-quoted
string as shown previously, you can use **\n** to indicate the start of a new line.

In [ ]:
multiline = 'This is a test for multiline. This is the first line.\nThis is the second line.'
print(multiline)

To manipulate strings, the following two operators are most useful: 
* ** + ** is use to concatenate two strings or string variables; 
* ** * ** is used for concatenating several copies of the same string.

In [ ]:
print('Hello, ' + 'World' * 3)

Below is another example of string concatenation based on  variables that store strings.

In [ ]:
name = 'World'
greeting = 'Hello'
print(greeting + ', ' + name + '!')

Using variables, change part of the string text is very easy.

In [ ]:
name

In [ ]:
greeting

In [ ]:
# Change part of the text is easy
greeting = 'Good morning' 
print(greeting + ', ' + name + '!')

 ## 2.2 Number

There are two types of numbers that are used most frequently: integers and floats. As we
expect, the standard mathematical operation can be applied to these two types. Please
try the following expressions. Note that **\*\*** is exponent operator, which indicates
exponentiation exponential(power) calculation.

In [ ]:
2 + 3

In [ ]:
3 * 5

In [ ]:
#3 to the power of 4
3 ** 4

Among the number operations, we need to look at division closely. In Python 3.0, classic division is performed using  **/**.

In [ ]:
15 / 5

In [ ]:
14 / 5

*//* is used to perform floor division. It truncates the fraction and rounds it to the next smallest whole number toward the left on the number line.

In [ ]:
14 // 5

In [ ]:
# Negatives move left on number line. The result is -3 instead of  -2
-14 // 5

Modulus operator **%** can be used to obtain remainder. Pay attention when negative number is involved.

In [ ]:
14 % 5

In [ ]:
# Hint:  −14 // 5 equal to −3
#        (-3) * 5 +  ? = -14

-14 % 5

*Operator precedence* is a rule that affects how an expression is evaluated. As we learned in high school, the multiplication is done first than the addition. e.g. **2 + 3 * 4**. This means multiplication operator has higher precedence than the addition operator.

For your reference, a precedence table from the python reference manual is used to indicate the evaluation order in Python.  For a complete precedence table, check the heading "Python Operators Precedence" in this [Python tutorial](http://www.tutorialspoint.com/python/python_basic_operators.htm)


However, When things get confused, it is far better to use parentheses **()** to explicitly
specify the precedence. This makes the program more readable.

Here are some examples on operator precedence:

In [ ]:
2 + 3 * 4

In [ ]:
(2 + 3) * 4

In [ ]:
2 + 3 ** 2

In [ ]:
(2 + 3) ** 2

In [ ]:
-(4+3)+2

Similarly as string, variables can be used to store a number so that it is easy to manipulate them.

In [ ]:
x = 3
y = 2
x + 2

In [ ]:
sum = x + y
sum

In [ ]:
x * y

One common expression is to run a math operation on a variable and then assign the result of the operation back to the variable. Therefore, there is a shortcut for such a expression.

In [ ]:
x = 2
x = x * 3
x

This is equivalent to:

In [ ]:
x = 2
# Note there is no space between '*' and '+'
x *= 3
x

## 2.3 Data conversion and comparison

So far, we have seen three types of data: integer, float, and string. With various data type, Python can define the operations possible on them and the storage method for each of them. In the later pracs, we will further introduce more data types, such as tuple, list and dictionary. 

To obtain the data type of a variable or a value, we can use built-in function **type()**;
whereas functions, such as **str()**, **int()**, **float()**, are used to convert data one  type to another. Check the following examples on the usage of these functions:

In [ ]:
type('Hello, world!)')

In [ ]:
input_Value = '45.6'
type(input_Value)

In [ ]:
weight = float(input_Value)
weight
type(weight)

Note the system will report error message when the conversion function is not compatible with the data.

In [ ]:
input_Value = 'David'
weight = float(input_Value)

Comparison between two values can help make decision in a program. The result of the comparison is either **True** or **False**. They are the two values of *Boolean* type.

In [ ]:
5 > 10

In [ ]:
type(5 > 10)

In [ ]:
# Double equal sign is also used for comparison
10.0 == 10

Check the following examples on comparison of two strings.

In [ ]:
'cat' < 'dog'

In [ ]:
# All uppercases are smaller than low cases in terms of ASCII code. It will compare each character from the beginning to the end between two words based on their ACSII code value.
'cat' < 'Dog'

In [ ]:
'apple' < 'apricot'

There are three logical operators, *not*, *and* and *or*, which can  be applied to the boolean values.

In [ ]:
# Both condition #1 and condition #2 are True?
3 < 4  and 7 < 8

In [ ]:
# Either condition 1 or condition 2 are True?
3 < 4  or 7 > 8

In [ ]:
# Both conditional #1 and conditional #2 are False?
not ((3 > 4) or (7 > 8))

## 2. 4. Input and output

All programming languages provide features to interact with user. Python provide *input()* function to get input. It waits for the user to type some input and press return. We can add some information for the user by putting a message inside the function's brackets. It must be a string or a string variable. The text that was typed can be saved in a variable. Here is one example:

In [ ]:
nInput  = input('Enter you number here:\n')

However, be aware that the input received from the user are treated as a string, even
though a user entered a number. The following **print()** function invokes an error message.

In [ ]:
print(nInput + 3)

The input need to be converted to an integer before the match operation can be performed as follows because the string data cannot add the integer data directly. They are totally different two types of data.

In [ ]:
print(int(nInput) + 3)

After user's input are accepted, the messages need to be displayed to the user accordingly. String concatenation is one way to display messages which incorporate variable values.

In [ ]:
name = 'David'
print('Hello, ' + name)

Another way of achieving this is using **print()** function with *string formatting*. We need to use the *string formatting operator*, the percent(**%**) sign.

In [ ]:
name = 'David'
print('Hello, %s' % name)

Here is another example with two variables:

In [ ]:
name = 'David'
age = 23
print('%s is %d years old.' % (name, age))

Notice that the two variables, **name**, **age**, that specify the values are included at the end of the statement, and enclosed with a bracket. 

With the quotation mark,  **%s** and **%d** are used to specify formatting for string and integer respectively. 
The following table shows a selected set of symbols which can be used along with %.

<table width="304" border="1">
  <tr>
    <th width="112" scope="col">Format symbol</th>
    <th width="176" scope="col">Conversion</th>
  </tr>
  <tr>
    <td>%s</td>
    <td>String</td>
  </tr>
  <tr>
    <td>%d</td>
    <td>Signed decimal integer</td>
  </tr>
  <tr>
    <td>%f</td>
    <td>Floating point real number</td>
  </tr>
</table>

There are extra characters that are used together with above symbols:

<table width="400" border="1">
  <tr>
    <th width="100" scope="col">Symbol</th>
    <th width="3000" scope="col">Functionality</th>
  </tr>
  <tr>
    <td>-</td>
    <td>Left justification</td>
  </tr>
  <tr>
    <td>+</td>
    <td>Display the sign</td>
  </tr>
  <tr>
    <td>m.n</td>
    <td>m is the minimum total width; n is the number of digits to display after the decimal point</td>
  </tr>
</table>

Here are  more examples that use above specifiers:

In [ ]:
# With %f, the format is right justification by default. 
# As a result, white spaces are added to the left of the number
# 10.4 means minimal width 10 with 4 decimal points
print('Output a float number: %10.4f' % (3.5))

In [ ]:
# plus sign after % means to show positive sign
# Zero after plus sign means using leading zero to fill width of 5
print('Output an integer: %+05d' % (23))

### 2.5 Notes on *Python 2*

You need to pay attention if you test examples in this prac under *Python* 2.  

1. In *Python 3,  * **/** is float division, and  **//** is integer division; while in Python 2, 
	both **/** and **//**
	perform *integer division*.  
	However, if you stick to using **float(3)/2** for *float division*, 
	and **3/2** for *integer division*, 
	you will have no problem in both version. 
    
2. Instead using function **input()**,  
	**raw_input()** is used in Python 2. 
	Both functions have the same functionality,
	i.e. take what the user typed and passes it back as a string.
    
3. Although both versions support **print()** function with same format, 
	Python 2 also allows  the print statement (e.g. **print "Hello, World!"**), 
	which is not valid in Python 3. 
	However, if you stick to our examples and using **print()** function with parentheses, 
	your programs should works fine in both versions.